build/
.gradle/

/.idea/sonarlint/
*.orig
/.idea/jarRepositories.xml
/.idea/compiler.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/modules.xml
*.iml
/.idea/workspace.xml
/.idea/sonar*

/.idea/misc.xml
Gradle_*.xml
/.idea/material_theme_project_new.xml
*.hprof
*.hprof.idom
*.cf
**/ConfigDumpInfo.xml
**/.metadata/
benchmark-results/**
