[submodule "src/test/resources/ext/designer/ssl_3_1"]
	path = src/test/resources/ext/designer/ssl_3_1
	url = ../ssl_3_1.git
	shallow = true
[submodule "src/test/resources/ext/edt/ssl_3_1"]
	path = src/test/resources/ext/edt/ssl_3_1
	url = ../ssl_3_1_edt.git
	shallow = true
